%INFO - START%
                  January is here with <span class="display-6 fw-semibold text-danger align-middle">****</span> new pull requests from some great <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!<br /><br />
%INFO - END%
%HIGHLIGHTS - START%
                  TODO
%HIGHLIGHTS - END%
%NEW - START%
                  TODO
%NEW - END%
%BUG FIXES - START%
                  TODO
%BUG FIXES - END%
%OTHER CHANGES - START%
                  TODO
%OTHER CHANGES - END%